#main{
    -fx-background-image: url("../image/rainbowBackground.jpg");
    -fx-background-size: cover;
}
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}
.tab {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: transparent;
    -fx-padding: 10 0 10 0;
    -fx-margin: 10 0 10 0;
}

.tab-pane *.tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: #424242;
    -fx-font-size: 16;
}

.tab:selected {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #808080  ;
}

.tab:focused{
    -fx-focus-color: transparent;
}

.tab:selected .focus-indicator{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.tab-pane:top * .tab-header-area{
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}
.list-cell:empty {
    visibility: hidden;
}

.list-cell{
    -fx-background-color:  white;
    -fx-text-color: black;
    -fx-cell-size: 50 ;
    -fx-animated: true;
    -fx-padding:1px;
    -fx-alignment:center-left;
}
.list-cell:hover{
    -fx-background-color: lightblue;
}
.list-view .list-cell{
    -fx-content-display:left;
}

/*
.list-cell:selected{
    -fx-text-color: black;
    -fx-background-color: lightblue;
}*/
/*.send {
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-background-color: lightskyblue ;
    -fx-border-width: 2px;
    -fx-padding: 10;
}

.send:after{
    
}

.receive {
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-background-color: salmon  ;
}*/
.table-row-cell:empty {
    -fx-background-color: lightyellow;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

#userSearchList, #chatSearchList,#myRequestsList,#sendRequestsList {
    height: 50%;
}